<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
	<add name="shop" connectionString="Data Source=DESKTOP-D40OA11\LOCALDB#264386AB;Initial Catalog=shop;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
 